:root {
    --chesscolor-dark:#769656;
    --chesscolor-light:#eeeed2;
    --sidebarbg-color:#272522;
    --sidebarbg-color-light:#3a3732;
    --background-color: #312e2b;
    --sidebar-icon-color: #a2a1a0;
    --sidebar-hover-color:#22211f;
    --sidebar-text: #dfd9d9;
    --sidebar-footer : #beb4b4;
    --max-width-menu: 1020px;
    --online-color : #69a032;
    --moving-color : rgb(160, 161, 51);
    --diconnected-color : rgb(185, 22, 22);

}

.square {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.black-square {
    background-color: var(--chesscolor-dark);
}

.white-square {
    background-color: var(--chesscolor-light);
}

.square-position-text {
    height: 10%;
    width: 90%;
    text-align: right;
    font-size: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: brown; */
}

.square-position-number {
    height: 10%;
    width: 90%;
    font-size: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: brown; */
}
.piece-container {
    height: 75%;
    flex-direction: row;
    align-items: center;
}

.black-font {
    color: var(--chesscolor-dark);
}

.white-font {
    color:var(--chesscolor-light);
}

.hide {
    visibility: hidden;
}